a {
    text-decoration: none;
    color: currentColor;
}
ul {
    list-style: none;
}
body {
    font-family: "Roboto";
    background-color: #012D63;
}
.container {
    width: 1440px;
    padding-left: 160px;
    padding-right: 160px;
    margin-right: auto;
    margin-left: auto;
    margin-right: 0px;
}
.header{
        font-size: 14px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
            display: flex;
            align-items: center;
            padding-top: 25px;
            padding-bottom: 25px;
            
}
.nav-img{
            width: 100px;
            height: 60px;

}
.nav{

}
.nav-list{
    display: flex;
    gap: 30px;
    font-family: Roboto;
    font-weight: 300;
}
.nav-item{
    gap: 30px;
    color: #C7C7C7;
    font-size: 24px;
}
.nav-item-ua{
        color: #ffffff;
}
.nav-link{

}


    /* ----------main---------- */


.main{

}

.buy-now{
    background-image: url(img/Group\ 37\ \(1\)\ 1\ \(1\).png);
}
.buy-now-img{
        width: 160px;
        height: 120px;
        flex-shrink: 0;
        margin-top: 124px;
}
.buy-now-title-3{
        color: #FFF;
        font-family: "PT Serif";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}       
.buy-now-title-1{
        color: #FFF;
        font-family: "Playfair Display";
        font-size: 144px;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 0px;
}
.buy-now-title-2{
        color: #FFF;
        font-family: "Playfair Display";
        font-size: 72px;

        font-weight: 400;

}
.buy-now-p{
        color: #FFF;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12px;
        margin-bottom: 41px;
}
.buy-now-button{
        border-radius: 10px;
        background: #8E32C6;
        width: 254px;
        height: 67px;
        flex-shrink: 0;
}
.buy-now-button-p{
        color: #FFF;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
/* ----------benefits---------- */
.benefits{

}
/* ----------reviews---------- */
.reviews{

}
/*---------- registration---------- */
.registration{

}
/* ----------footer---------- */
.footer{
    
}